* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// formato basico de container para copiar sus estílos
%basicoContainer {
  display: inline-flex;
  width: 9vw;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  padding-left: 2px;
  border-radius: 7%;
  transition: all 1s ease;
}
/* formato basico de display: flex; - se usa para la organización de cualquier contenedor - actualmente no se encuentra en uso dentro de los estílos
%basicFlex {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* transition: all 2s ease;
} */

html {
  font-size: 1rem;
  margin: 0 auto;
  max-width:100%;
}

body {
  padding: 20px;
  background-color:antiquewhite;
}

header {
  text-align: center;
  h1{
      margin:5px;
  }
}

main {
  height: 80vh;
  @extend %basicFlex;
}
.container {
  @extend %basicoContainer;
  background-image: url("../assets/alcohol.jpg");
}
.container2 {
  @extend %basicoContainer;
  background-image: url("../assets/cafe.jpg");
}
.container3 {
  @extend %basicoContainer;
  background-image: url("../assets/flores.jpg");
}
.container4 {
  @extend %basicoContainer;
  background-image: url("../assets/laguna.jpg");
}
.container5 {
  @extend %basicoContainer;
  background-image: url("../assets/mujer.jpg");
}
.container6 {
  @extend %basicoContainer;
  background-image: url("../assets/panecillos.jpg");
}
.container7 {
  @extend %basicoContainer;
  background-image: url("../assets/playa.jpg");
}
.container8 {
  @extend %basicoContainer;
  background-image: url("../assets/sombra.jpg");
}
.row {
  width: 5px;
  height: 250px;
}
p {
  display: inline-block;
  color:black;
  font-weight: bold;
}
p:hover{
  text-transform: uppercase;
}

/* figcaption::after{
      position: absolute;
      top:40px;
      content: "si somos";
      color: #fff;
      font-weight: bold;
  } */

.container:hover,
.container2:hover,
.container3:hover,
.container4:hover,
.container5:hover,
.container6:hover,
.container7:hover,
.container8:hover {
  width: 18vw;
  height: 250px;
  padding: 7px;
  border-radius: 30%;
  background-size: contain;
 
}
