@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 9vw;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  padding-left: 2px;
  border-radius: 7%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* formato basico de display: flex; - se usa para la organización de cualquier contenedor */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html {
  font-size: 1rem;
  margin: 0 auto;
  max-width: 100%;
}

body {
  padding: 20px;
  background-color: antiquewhite;
}

header {
  text-align: center;
}
header h1 {
  margin: 5px;
}

main {
  height: 80vh;
}

.container1 {
  background-image: url("../assets/alcohol.jpg");
}

.container2 {
  background-image: url("../assets/cafe.jpg");
}

.container3 {
  background-image: url("../assets/flores.jpg");
}

.container4 {
  background-image: url("../assets/laguna.jpg");
}

.container5 {
  background-image: url("../assets/mujer.jpg");
}

.container6 {
  background-image: url("../assets/panecillos.jpg");
}

.container7 {
  background-image: url("../assets/playa.jpg");
}

.container8 {
  background-image: url("../assets/sombra.jpg");
}

.row {
  width: 5px;
  height: 250px;
}

p {
  display: inline-block;
  color: black;
  font-weight: bold;
}

p:hover {
  text-transform: uppercase;
}

.container:hover {
  width: 18vw;
  height: 250px;
  padding: 7px;
  border-radius: 30%;
  background-size: contain;
}