* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// formato basico de container para copiar sus estílos
%basicoContainer {
  display: inline-flex;
  width: 9vw;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  padding-left: 2px;
  border-radius: 7%;
  transition: all 1s ease;
}
/* formato basico de display: flex; - se usa para la organización de cualquier contenedor */
%basicFlex {
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

html {
  font-size: 1rem;
  margin: 0 auto;
  max-width:100%;
}

body {
  padding: 20px;
  background-color:antiquewhite;
}

header {
  text-align: center;
  h1{
      margin:5px;
  }
}

main {
  height: 80vh;
  @extend %basicFlex;
}
// CONTENEDOR DE LAS IMAGENES
.container{
  @extend %basicoContainer;
}
.container1 {
  background-image: url("../assets/alcohol.jpg");
}
.container2 {
  background-image: url("../assets/cafe.jpg");
}
.container3 {
  background-image: url("../assets/flores.jpg");
}
.container4 {
  background-image: url("../assets/laguna.jpg");
}
.container5 {
  background-image: url("../assets/mujer.jpg");
}
.container6 {
  background-image: url("../assets/panecillos.jpg");
}
.container7 {
  background-image: url("../assets/playa.jpg");
}
.container8 {
  background-image: url("../assets/sombra.jpg");
}
.row {
  width: 5px;
  height: 250px;
}
p {
  display: inline-block;
  color:black;
  font-weight: bold;
}
p:hover{
  text-transform: uppercase;
}

.container:hover {
  width: 18vw;
  height: 250px;
  padding: 7px;
  border-radius: 30%;
  background-size: contain;
}
